Repository SunsetTadpole78/miniRT, pull requests merged in 2025-06, with the labels that each got.

#71 Copy and Paste Objects System
  Makefile
  inc/keys.h
  inc/miniRT.h
  maps/clipboard.rt
  src/initializer.c
  src/mlx/listeners/press_key.c
  src/mlx/listeners/release_key.c
  src/mlx/mlx.c
  src/objects/cone/utils.c
  src/objects/cylinder/utils.c
  src/objects/light/utils.c
  src/objects/plane/utils.c
  src/objects/sphere/utils.c
  src/objects/types_factory.c
Labels: enhancement, objects, mlx

#68 Textures Parsing
  Makefile
  inc/errors.h
  inc/miniRT.h
  maps/mini.rt
  resources/ship.xpm
  scripts/check_parsing.sh
  src/initializer.c
  src/mlx/mlx.c
  src/mlx/opengl.c
  src/mlx/x11.c
  src/objects/ambiant.c
  src/objects/cone/cone.c
  src/objects/cylinder/cylinder.c
  src/objects/light/light.c
  src/objects/light/utils.c
  src/objects/plane/plane.c
  src/objects/sphere/sphere.c
  src/parsing/elements/default.c
  src/parsing/elements/extra.c
  src/parsing/parser.c
  src/parsing/utils.c
  src/render/blender.c
  src/render/render.c
Labels: enhancement, objects

#72 Delete Object Implementation
  Makefile
  inc/keys.h
  inc/miniRT.h
  maps/delete.rt
  src/destructor.c
  src/mlx/listeners/press_key.c
  src/objects/delete.c
Labels: enhancement, objects, mlx

#77 Pixel Colors Calculs Optimization
  inc/miniRT.h
  maps/box.rt
  maps/clipboard.rt
  maps/cylinder.rt
  maps/enferme.rt
  maps/mini.rt
  src/initializer.c
  src/objects/cone/render.c
  src/objects/cone/utils.c
  src/objects/cylinder/render.c
  src/objects/cylinder/utils.c
  src/objects/plane/render.c
  src/objects/sphere/intersect.c
  src/objects/sphere/render.c
  src/objects/types_factory.c
  src/parsing/elements/extra.c
  src/render/lights.c
  src/render/specular_reflection.c
  src/render/tracer.c
Labels: bug, objects, light, optimization

#86 Move init_sphere to render only
  inc/miniRT.h
  src/objects/sphere/intersect.c
  src/objects/sphere/render.c
Labels: enhancement, optimization
